body {
    margin: 0;
    min-height: 100vh;
}

.registration-container_button {
    padding: 5px;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.registration_container {
    display: flex;
    flex-direction: column;
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
}

p {
    font-size: 13px;
    margin: 5px 0;
    color: #ff0000;
    font-weight: bold;
    word-break: break-all;
}

.item_span_registration {
    margin: 5% auto 0 auto;
    font-size: 1.5em;
    font-weight: bold;
}

.label {
    color: black !important;
}

.item_input {
    padding: 10px 4px;
}

.item_registration_span {
    font-size: 0.9rem;
    color: black !important;
    margin: 5px auto;
}

.form-block__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 10px;
}