body {
    margin: 0;
    min-height: 100vh;
}

.registration-container_button {
    padding: 5px;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.registration_container {
    display: flex;
    flex-direction: column;
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
}

p {
    font-size: 13px;
    margin: 5px 0;
    color: #ff0000;
    font-weight: bold;
}

.item_span_registration {
    margin: 10% auto 0 auto;
    font-size: 1.5em;
}
