.main_container {
    display: flex;
    flex-direction: row;
}


.item_all_events {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 20%;
    overflow-y: scroll;
    height: 90vh;
}

@media (max-width: 680px) {
    .item_all_events{
        display: block;
    }
}