.item-event {
    margin-top: 5px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 25%;
    border: black 2px solid;
}

.item-event_img {
    height: 50%;
}

.item-event_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-event_describe {
    font-size: 1.1rem;
    margin: auto auto;
}

.item-event_date {
    padding: 0 8px;
}

.item-event p {
    color: black !important;
}

.item-event_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1rem;
    align-items: center;
}

.top {
    border-bottom: 2px black solid;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.bottom {
    margin: auto 0 0 0;
    border-top: 1px black solid;
}

.item-event_column {
    display: flex;
    flex-direction: column;
}

.event-button {
    width: 100%;
    padding: 5px;
    background-color: #ec4f4f;
}

.item-event_notification {
    margin: 10% auto;
}

.item-event_notification > p {
    color: black;
    font-size: 1.7rem;
}

.user-event_list {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    overflow-y: auto;
    height: 90vh;
}

.button_success {
    background-color: green;
    color: black;
    font-weight: bold;
}

.item-event_title p {
    font-size: 1.0rem;
}

@media (max-width: 680px) {
    .item-event {
        width: 60%;
        margin: 10px auto 30px auto;
    }
}