.menu{
    border-right: 1px solid black;
    border-bottom:1px solid black ;
    padding: 35px;
    background-color: white;

}

.menu h3{
    margin: 0 0 20px 0;
}

.link{
    text-decoration: none;
    color: black;
}