.menu{
    border-bottom: 2px solid black ;
    padding-left: 0px;
    background-color: white;
}

.menu h3{
    margin: 0 0 20px 0;
    text-align: center;
}
.menu li{
    margin: 0 40px;
    
}

.link{
    text-decoration: none;
    color: black;
}